<header class="container-fluid  align-items-center">

<!--   <div class="d-flex"> -->
  <img src="../assets/starwars_logo.png" routerLink="" routerLinkActive="active" class="starwarsLogo img-fluid w-100 justify-content-center" alt="starwars">
  <nav class="navbar navbar-expand navbar-dark px-3 flex-shrink-1 justify-content-end ms-auto" *ngIf="!user">
    <button type="button" routerLink="/account/login" class="btn border-dark m-2">LOGIN</button>
    <button type="button" routerLink="/account/register" class="btn border-dark m-2">SIGN UP</button>
  </nav>
<!-- </div> -->
<!-- nav -->
<nav class="navbar navbar-expand navbar-dark px-3" *ngIf="user">
  <div class="navbar-nav">
      <!-- <a class="nav-item nav-link" routerLink="/">Home</a> -->
      <button class="btn btn-secondary me-2" (click)="compo_Logout()">Logout</button>
  </div>
</nav>

</header>
<div class="container-fluid d-flex justify-content-center menu">
  <ul class="nav nav-underline">
    <li class="nav-item nav-link" >
      <a class="nav-link text-warning phosphorescent" routerLink="" routerLinkActive="active">HOME</a>
    </li>


    <li class="nav-item nav-link">
      <a class="nav-link text-warning phosphorescent" routerLink="/starships" routerLinkActive="active">STARSHIPS</a>
    </li>
  </ul>
</div>




